.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.calculator {
  width: 300px;
  height: 450px;
  display: flex;
  flex-flow: column;
  background-color: rgb(29, 29, 29);
}

#display {
  flex: 1 0 0px;
  display: flex;
  flex-flow: column;
  padding: 20px;
  background-color: rgb(65, 65, 65);
  font-size: 40px;
  color: #fff;
}

.display {
  text-align: right;
}

button {
  border: none;
  background-color: rgb(29, 29, 29);
  color: #fff;
  font-size: 30px;
}

button:focus {
  outline: none;
}

button:active {
  background-color: rgb(48, 48, 48);
}

#clear {
  background-color: rgb(143, 0, 0);
}

.buttons {
  flex: 2 0 0px;
  display: flex;
}

.numbers {
  flex: 1 0 0px;
  display: flex;
  flex-flow: row wrap;
}

.numbers > * {
  flex: 0 0 33.3333%;
}

.operators {
  flex: 0 0 82px;
  display: flex;
  flex-flow: column;
}

.operators > button {
  flex: 1 0 0px;
}
